*.a
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.ptx
*.ptx.c
*_g
\#*
.\#*
/.config
/.version
/ffmpeg
/ffplay
/ffprobe
/config.asm
/config.h
/coverage.info
/avversion.h
/lcov/
/src
/mapfile
/tools/python/__pycache__/
/test
ffmpeg-gpu/config.asm
ffmpeg-gpu/config.h
ffmpeg-gpu/ffmpeg
ffmpeg-gpu/ffplay
ffmpeg-gpu/ffprobe
ffmpeg-gpu/libavfilter/cnpy